* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 1.6;
  background: #1a1e26;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 120px;
  line-height: 0.8;
}

h2 {
  font-size: 48px;
  line-height: 1;
}

h2 span {
  display: block;
}

a {
  color: #3669c9;
}

a:hover,
a:focus {
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 2em;
}

.astronaut {
  display: flex;
  align-items: center;
  justify-content: center;
}

.astronaut > img {
  border-radius: 20px;
  opacity: 0.7;
}

.split {
  display: flex;
}

.col {
  margin: 0 1em;
}

header,
section {
  padding: 10rem 0;
}

.accent-bg {
  background-color: #3669c9;
}

.col {
  background-color: #f3f3f3;
  color: #757575;
  width: 300px;
}

.col > p,
.col > h3 {
  font-size: 16px;
  margin: 20px;
  text-align: center;
}
